/* You can add global styles to this file, and also import other style files */
@import './dist/scss/variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
}

body {
    background: $primary-background-color;
}

//Classes
.container {
    width: 350px;
    margin: 50px auto;
}
